@import "tailwindcss";

body {
  background-color: #0f0f0f;
  color-scheme: dark;
  margin: 0;
  padding: 0;
  height: 100dvh;
  position: relative;
}

/* Desktop only: blurred background image */
/* @media (min-width: 768px) {
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('/Darbar-sahib.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    opacity: 0.8;
    z-index: -1;
  }
} */

/* Remove mobile ::before, because video will be handled in React */
html, body {
  touch-action: manipulation; /* disables pinch and double-tap zoom */
  -ms-touch-action: manipulation;
  overscroll-behavior: contain;
}

* {
  -webkit-user-select: none;  
  -webkit-touch-callout: none;
  user-select: none;          
  touch-action: manipulation;
}